
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Header Styles */
header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 140px; 
    margin-left: 50px; 
}

.navigation {
    list-style: none;
    display: flex;
    margin-top: 80px;
}

.navigation li {
    margin-right: 70px;
}

.navigation li.last {
    margin-right: 60px; 
}

.navigation a {
    text-decoration: none;
    color: #000;
    font-family: League Spartan, sans-serif;
    font-size: 16px; 
}

.navigation a:hover {
    font-weight: bold;
}

.hamburger-menu {
    display: block;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 4px 0;
}

.mobile-menu.show-mobile-menu {
    display: block;
}

.mobile-navigation {
    list-style: none;
    padding: 0;
    text-align: center;
}

.mobile-navigation li {
    margin: 10px 0;
}

.mobile-navigation a {
    text-decoration: none;
    color: #000;
    font-family: 'League Spartan', sans-serif;
}

/* Footer Styles */
footer {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
}

.social-media a {
    margin-right: 40px;
}

.social-media a img {
    width: 65px; 
    height: 65px; 
}

.social-media a:last-child {
    margin-right: 250px; 
}

.mobile-menu {
    display: none;
}

@media (max-width: 768px) {
    .mobile-menu {
        display: block; 
    }
}





