
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Header Styles */
header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 140px; 
    margin-left: 50px; 
}

.navigation {
    list-style: none;
    display: flex;
    margin-top: 80px;
}

.navigation li {
    margin-right: 70px;
}

.navigation li.last {
    margin-right: 60px; 
}

.navigation a {
    text-decoration: none;
    color: #000;
    font-family: League Spartan, sans-serif;
    font-size: 16px; 
}

.navigation a:hover {
    font-weight: bold;
}

.hamburger-menu {
    display: block;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 4px 0;
}

.mobile-menu.show-mobile-menu {
    display: block;
}

.mobile-navigation {
    list-style: none;
    padding: 0;
    text-align: center;
}

.mobile-navigation li {
    margin: 10px 0;
}

.mobile-navigation a {
    text-decoration: none;
    color: #000;
    font-family: 'League Spartan', sans-serif;
}

/* Main Style Rules for Packages */

.column {
  float: left;
  width: 33.33%;
}

/* Style Rules For About Page */
.container {
    display: flex; 
    align-items: center; 
        }

.missions {
    flex: 1; 
    padding: 10px;
    margin-left: 40px;
        }

.image {
    flex: 1;
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
        }

h2{
    color: darkgreen;
}

h1 {
    padding-top: 40px;
    text-align: center;
    color: darkgreen;
}

.exec {
    column-count: 3;
    padding: 40px;
    text-align: center;
}

/* Style Rules for External Companies Page */
.airlines {
    margin: 50px;
    flex: 2;
}

.parenttravel {
    margin: 50px;
    flex: 2;
    margin-top: 20px;
} 

.button {
            display: inline-block;
            padding: 10px; 
            background-color: darkgreen;
            color: white; 
            border: none;
            border-radius: 5px; 
            text-align: center;
            text-decoration: none;
            font-size: 16px; 
            cursor: pointer;
}

.horizontal-line {
            border-top: 1px solid #000;
    width: 75%;
    margin-left: 15%;
    margin-top: 40px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

img {
 height: auto;
 max-width: 100%;
}

div {
 background-image: url("image.jpg");
 background-size: 100% 100%;
}

/* Tablet viewport styles  */
@media (max-width: 768px) {
    body {
        font-size: 14px; /* Adjust font size for tablets */
    }

    .container {
        width: 80%; /* Adjust container width for tablets */
        margin: 0 auto; /* Center align container */
    }


/* Footer Styles */
footer {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
}

.social-media a {
    margin-right: 40px;
}

.social-media a img {
    width: 65px; 
    height: 65px; 
}

.social-media a:last-child {
    margin-right: 250px; 
}

.mobile-menu {
    display: none;
}

@media (max-width: 768px) {
    .mobile-menu {
        display: block; 
    }
}







