body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Header Styles */
header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0);
}

.logo img {
    width: 150px;
    margin-left: 50px;
}

.navigation {
    list-style: none;
    display: flex;
    margin-top: 80px;
    margin-left: 150px;
}

.navigation li {
    margin-right: 70px;
}

.navigation li.last {
    margin-right: 10px;
}

.navigation a {
    text-decoration: none;
    color: #000;
    font-family: League Spartan, sans-serif;
    font-size: 16px;
}

.navigation a:hover {
    font-weight: bold;
}

.hamburger-menu {
    display: block;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 4px 0;
}

.mobile-menu.show-mobile-menu {
    display: block;
}

.mobile-navigation {
    list-style: none;
    padding: 0;
    text-align: center;
}

.mobile-navigation li {
    margin: 10px 0;
}

.mobile-navigation a {
    text-decoration: none;
    color: #000;
    font-family: 'League Spartan', sans-serif;
}
/* Style Rules for Home page */
.intro {
    margin: 40px;
    text-align: left;
}

.intro-picture {
    margin: 40px;
    text-align: right;
}
/* Main Style Rules for Packages */

.column {
    float: left;
    width: 33.33%;
}

/* Style Rules For About Page */
.container {
    display: flex;
    align-items: center;
}

.missions {
    flex: 1;
    padding: 10px;
    margin-left: 40px;
}

.image {
    flex: 1;
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
}

h2 {
    color: darkgreen;
}

h1 {
    padding-top: 40px;
    text-align: center;
    color: darkgreen;
}

.exec {
    column-count: 3;
    padding: 30px;
    text-align: center;
}

/* Style Rules for External Companies Page */
.airlines {
    margin: 50px;
    flex: 2;
}

.parenttravel {
    margin: 50px;
    flex: 2;
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px;
    background-color: darkgreen;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.horizontal-line {
    border-top: 1px solid #000;
    width: 75%;
    margin-left: 15%;
    margin-top: 40px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

img {
    height: auto;
    max-width: 100%;
}

div {
    background-image: url("image.jpg");
    background-size: 100% 100%;
}

/* Tablet viewport styles  */
@media (max-width: 768px) {
    body {
        font-size: 14px;
        /* Adjust font size for tablets */
    }

    .container {
        width: 80%;
        /* Adjust container width for tablets */
        margin: 0 auto;
        /* Center align container */
    }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px),
print {

    /* Desktop Viewport: Style rule for header */
    header {
        width: 25%;
        float: left;
        padding-bottom: 0;
        margin: 0;
    }

    /* Desktop Viewport: Style rules for nav area */
    nav {
        float: right;
        width: 70%;
        margin: 4em 1em 0 0;
    }

    nav ul {
        text-align: right;
    }

    nav li {
        border: none;
    }

    nav li a {
        padding: 0.5em 1em;
    }

    nav li a:hover {
        color: #000;
        background-color: #fff;
    }

    /* Desktop Viewport: Style Rules for main content */
    main {
        clear: left;
    }

    main h1 {
        font-size: 1.8em;
    }

    article h3 {
        font-size: 1.75em;
    }

    .pic-text {
        font-size: 1.5em;
        padding: 20px;
    }

    .frame {
        opacity: 0.9;
    }

    .frame:hover {
        opacity: 1;
        box-shadow: 8px 8px 10px #808080;
    }

    #packages,
    #packages,
    #packages {
        width: 29%;
        float: left;
        margin: 0 2%;


    }


    /* Media Query for Large Desktop Viewports */
    @media screen and (min-width: 1921px) {

        #container {
            width: 1920px;
            margin: 0 auto;
        }

    }

    /* Media Query for Print */
    @media print {

        body {
            background-color: #fff;
            color: #000;
        }

    }
}

/* Footer Styles */
footer {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
}

.social-media a {
    margin-right: 35px;
}

.social-media a img {
    width: 65px;
    height: 65px;
}

.social-media a:last-child {
    margin-right: 250px;
}

.mobile-menu {
    display: none;
}

@media (max-width: 767px) {
    .mobile-menu {
        display: block;
    }
}

/* Attempted styling for mobile and ended up messing up several things. Unfortunately removed it for now to get back to what it was. */
